@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* add biến font mới từ next/font/google */
  --font-barlow: var(--font-barlow);
  --font-exo2: var(--font-exo2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-barlow);
  --font-heading: var(--font-exo2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), sans-serif;
}
